{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Réinitialisez votre mot de passe</h1>
                {{ form_start(resetPasswordForm) }}
                {{ form_row(resetPasswordForm.plainPassword) }}
                <button type="submit" class="btn btn-outline-dark">Envoyer</button>
                {{ form_end(resetPasswordForm) }}
            </div>
        </div>
    </section>
{% endblock %}
