@import "bootstrap";

body {
    background-color: lightgray;
}

.lightgray {
    background-color: lightgray;
}

#arrow {
    text-align: right;
    padding-right: 2%;
    margin-top: -50px;
    margin-bottom: 50px;
}
