{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <img src="{{ asset('images/bigjump.jpg') }}" alt="snowboard jump" class="container-fluid">
    <div id="arrow">
        <a href="#tricks" class="h1"><i class="fas fa-arrow-circle-down text-light"></i></a>
    </div>
    <div class="text-center">
        <h1 class="text-success">Community website dedicated to snowboard tricks</h1>
        <h2 id="tricks">Here are the tricks</h2>
    </div>
    <div class="container-fluid text-center row-cols-xl-5 row-cols-lg-4 row-cols-md-3 mx-5 my-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ asset('images/defaultTricksImage.png') }}" class="card-img-top" alt="Tricks Header image">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
{% endblock %}
