{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la page d'accueil{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="text-success text-center">PREMIERE PAGE SYMFONY</h1>
{% endblock %}
