{% extends 'base.html.twig' %}

{% block title %}Modifier votre commentaire{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Modification de votre commentaire</h1>
                {% include 'comments/_form.html.twig' with {'button_label': 'Modifier'} %}
            </div>
        </section>
    </main>
{% endblock %}