{% extends 'base.html.twig' %}

{% block title %}Modifier {{ tricks.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Modification de {{ tricks.name }}</h1>
                {% include 'tricks/_form.html.twig' with {'button_label': 'Modifier la figure'} %}
            </div>
        </section>
    </main>

    <script>
        let links = document.querySelectorAll("[data-delete]");

        for (let link of links) {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                if (confirm("Êtes-vous sur de vouloir supprimer cette image ? ")) {
                    fetch(this.getAttribute("href"), {
                        method: "DELETE",
                        headers: {
                            "X-Requested-With": "XMLHttpRequest",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({"_token": this.dataset.token})
                    }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                this.parentElement.remove();
                            } else {
                                alert(data.error);
                            }
                        })
                }
            });
        }
    </script>
{% endblock %}
