<h1>Réinitialisez votre mot de passe !</h1>
<p>Bonjour {{ user.username }},</p>
<p>Cliquez <a href="{{ url|raw }}">sur ce lien</a> pour réinitialiser votre mot de passe</p>
<p>Ce lien expirera dans 3 heures.</p>